/* styles.css */
.green-hover-bg {
    background-color: #632b50 !important;
    color: white !important;
}

.green-hover-bg:hover {
    background-color: #632b50 !important;
}

.red-hover-bg {
    background-color: rgb(220 38 38 / var(--tw-bg-opacity)) !important;
    color: white !important;
}

.red-hover-bg:hover {
    background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important;
}